.nav-link{
    color: white;
    font-size: 20px;
}

.nav-link:hover{
    opacity: 50%;
}

.container-fluid{
    width: 80%;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: hidden;
}

//*{
    outline: solid 1px red;
}